// Imagehover.css overrides
//
// Copy variables from `_variables.scss` to this file to override default values without modifying source files.

$image-bg: #e2d5b71a;
$figcaption-bg: #e2d5b71b;
$transition-duration: 0.35s;